.setting-menu-item{
    padding: 12px;
    color: #555;
}
.setting-menu-item:hover{
    color: #0056b3;
}
.setting-menu-item-active{
    color: #0068d8;
    background-color: #eee;
}
.settings-icon{
    margin-right: 12px;
    padding: 10px;
}
.settings-icon2{
    margin-right: 5px;
    padding: 10px;
}
#settingsMenu{
    padding: 0;
    background-color: #FFFEFC;
}
.settings-card-container{
    background-color: #FFFEFC;
}
.settings-card{
    margin-bottom: 30px;
    padding: 20px;
    position: relative;
    background: #fff 50%;
    background-size: cover;
    border-radius: .25rem;
    box-shadow: 0 0 0.25rem rgba(0,0,0,.08), 0 0.5rem 0.75rem rgba(0,0,0,.14);
}
.setting-title{
    color: #555;
    font-weight: 200;
}
.settings-button{
    position: absolute;
    top: 24px;
    right: 18px;
}
.logout-fullscreen{
    background-color: #fff;
}
.logout-button{
    position: relative;
    top: 50%;
    left: 50%;
    background: #fff;
    width: 180px;
    height: 42px;
    border: 2px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to right, #2b416b, #1c6eb1);
    color: #1c6eb1;
    text-align: center;
    padding-top: 5px;
    font-size: 20px;
    font-weight: 300;
    transform: translate(-50%, -50%);
}
.logout-button:hover{
    text-decoration: none;
    color: #eee;
    background-image: linear-gradient(to right, rgb(43, 65, 107) 0%, rgb(28, 110, 177) 100%);
    color: white;
    border: 2px solid !important;
    border-image-slice: 1 !important;
    border-width: 2px !important;
    border-image-source: linear-gradient(to right, #2b416b, #1c6eb1) !important;
}