.right-border-form {
    border-right: 1px solid #ddd;
}

.newtask-buttoncontainer {
    padding: 10% 5% 0 5%;
}

.task-subtitle {
    margin-bottom: 5%;
}

.taskstep-card {
    margin: 0;
    flex-wrap: initial;
}

.addnewtask-button {
    float: right;
    background-color: #3B4372;
    outline: none;
    border: none;
    height: calc(1.5em + 0.75rem + 2px);
    font-weight: 700;
    margin-right: 1.5rem;
    width: 30%;
}

.addnewtask-button:hover {
    background-color: #333;
}

.grey-button {
    background-color: #495057;
}

.grey-button:hover {
    background-color: #333;
}

.input-row {
    /*display: flex;*/
}

.add-input-btn {
    text-align: center;
    font-size: 16px;
}

.newtask-formcontrol {
    width: 60%;
    height: calc(1.5em + .75rem + 2px);
    padding: .175rem .55rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #aaa;
    border-radius: 8px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.newtask-formcontrol:focus {
    box-shadow: none;
    border: 1px solid #0067a5;
    border-radius: 4px;
    outline-style: unset;
}

.newtask-label {
    width: 40%;
    height: calc(1.5em + .75rem + 2px);
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: left;
    padding: 0.2rem 0;
    margin: 0;
}

#taskCat {
    width: 80%;
    float: left;
}

.tasktype-group {
    float: right;
    width: 60%;
}

.tasktype-button {
    width: 15%;
    height: 15%;
    float: right;
    background-color: #3B4372;
    outline: none;
    border: none;
    font-weight: 700;
    text-align: center;
}

.new-obj-subtitle {
    font-size: 1.4rem;
    color: #3B4372;
    padding-bottom: 1%;
    margin-bottom: 4%;
    border-bottom: 1px solid #ddd;
}

.new-obj-shell {
    display: inline-block;
    float: left;
    overflow: hidden;
    padding: 0 4%;
    border-bottom: 1px solid #ddd;
}

.taskstep-formcontrol {
    width: 60%;
    height: calc(1.2em + .65rem + 2px);
    padding: .165rem .50rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.4;
    color: #333;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #52C5F2;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.taskstep-icon {
    margin-left: 10px;
    font-size: 30px;
    padding: 10px;
    color: #52C5F2;
}

.n-task-add-employee-btn {
    font-size: 16px;
    border-radius: 30px;
    margin-left: 15%;
    padding: 2px 10px;
    border: 1px dashed #999;
    color: #999;
    background-color: #fff;
}

.employee-box {
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 16px;
    border-radius: 30px;
    padding: 2px 10px;
    color: #495057;
    background-color: #ddd;
    animation-name: employee;
    animation-duration: .3s;
}

.ntsk-empl-box {
    margin-left: 75px;
}

@keyframes employee {
    0% {
        -ms-transform: scale(0.2, 0.2);
        /* IE 9 */
        -webkit-transform: scale(0.2, 0.2);
        /* Safari prior 9.0 */
        transform: scale(0.2, 0.2);
        /* Standard syntax */
    }
    100% {
        -ms-transform: scale(1, 1);
        /* IE 9 */
        -webkit-transform: scale(1, 1);
        /* Safari prior 9.0 */
        transform: scale(1, 1);
        /* Standard syntax */
    }
}

.addemployee-icon {
    padding: 2px 10px 2px 5px;
    margin: auto;
    font-size: 15px
}

.tsk-way-empl-icon-check {
    cursor: pointer;
    color: #888;
    padding: 2px 5px 2px 10px;
    font-size: 15px
}

.add-new-employee-button {
    color: #777;
    border: 1px dashed #777;
    margin-left: 18%;
}

.add-new-employee-button:hover {
    color: white;
    background-color: #999;
    border: 1px solid #999;
}

.taskstep-container {
    display: block;
    padding: 0 3%;
}

#delete_button {
    width: calc(1.5em + .75rem + 2px);
    ;
    height: calc(1.5em + .75rem + 2px);
    ;
    position: absolute;
    bottom: 0;
    right: 0;
    outline: none;
    border: none;
    margin-right: 6%;
}

#ntsk_steps_trash_btn {
    margin-top: 10px;
    position: absolute;
    right: 8%;
}

#ntsk_steps_footer {
    height: 60px;
}

.taskstep-tools {
    width: 100%;
    padding-top: 10px;
}

.default-steps-label {
    line-height: calc(1.2em + .65rem + 2px);
    padding-left: 20px;
    font-size: 1rem;
}

.page-content {
    height: 100%;
    padding: 3% 8%;
    overflow: hidden;
}

/*Drag and drop*/

.slide-placeholder {
    position: relative;
    border: 1px dashed #999;
    border-radius: 4px;
}

.slide-placeholder:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 15px;
    background-color: #FFF;
}

/*Switch design --- disabled because login page layout concerns
/*
input[type="checkbox"] {
    position: relative;
    width: 40px;
    height: 20px;
    -webkit-appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 20px;
    transition: .5s;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
}

input:checked[type="checkbox"] {
    background: #5662A6;
}

input[type="checkbox"]:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 0;
    left: 0;
    background: #ddd;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: .5s;
}

input:checked[type="checkbox"]:before {
    left: 20px;
}
*/

.sortable-drag {
    background: #01043F;
}

.sortable-ghost {
    background: #01043F;
}

.closebtn {
    padding-left: 10px;
    float: right;
    font-size: inherit;
    font-weight: bold;
    cursor: pointer;
}

.added-employee-input {
    width: 100%;
    padding-left: 40px;
    padding-right: 30px;
}

.save-employee-icon {
    color: #8db74c;
    cursor: pointer;
    margin: auto;
    font-size: 1.2rem;
    padding-left: 10px;
}

.save-employee-icon:hover {
    color: rgb(124, 182, 37);
}

.add-taskstep-container {
    position: relative;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    height: 12%;
    padding: 5px 10px;
    margin-bottom: 1.3%;
}

.custom-input {
    opacity: 0;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
}

.img-upload {
    width: 100%;
    position: relative;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    height: 100%;
    padding: 5px 10px;
}

.img-upload-icon {
    font-size: 35px;
}

.img-upload-text {
    font-size: 14px;
}

.upload-img-shell {
    width: 100px;
    height: 100px;
    float: left;
    margin: 0px 20px 20px 0px
}

.gallery-item-shell {
    width: 100px;
    height: 100px;
    float: left;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    margin: 0px 20px 20px 0px;
}

.gallery-item {
    max-width: 100%;
    max-height: 100%;
}

.collapsable-form-title {
    color: #888;
}

#add_taskstep_collapse {
    display: none;
}

.add-taskstep-btn-container {
    width: 100%;
    border-top: 1px solid #ddd;
}

.add-taskstep-form-container {
    width: 100%;
}

.collapsable-form-tabs {
    cursor: pointer;
    background-color: #fff;
    border: none;
    color: #999;
    font-size: 1rem;
    margin: 0 25px 0 10px;
    padding: 0 0 2px 0;
    outline: none;
}

.collapsable-form-tabs:focus, .collapsable-form-tabs:active:focus, .collapsable-form-tabs.active:focus, .collapsable-form-tabs.focus, .collapsable-form-tabs:active.focus, .collapsable-form-tabs.active.focus {
    box-shadow: none;
}

.collapsable-form-tabs-active {
    color: #333;
}

.collapsable-form-tabs:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #01043F;
    transition: 1.5s;
}

.collapsable-form-tabs:hover:before {
    width: 100%;
}

.collapsable-form-tabs-active:before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #01043F;
    transition: 0s;
}

.btn-show-forms {
    color: #777;
    font-size: 1.1rem;
    position: absolute;
    top: 5px;
    right: 15px;
}

#saved_taskstep_container {
    display: none;
}

#addstep_title {
    margin: 5px;
}

.taskstep-title {
    width: 100%;
    padding: 4%;
    margin: 0;
    text-align: left;
    cursor: pointer;
    color: #666;
}

.stepNo {
    min-width: 50px;
    height: 50px;
    line-height: 46px;
    text-align: center;
    vertical-align: middle;
    border: 2px solid #666;
    background-color: #fff;
    color: #666;
    margin-left: 5px;
    border-radius: 20%;
    font-size: 25px;
}

.newtaskstep-label {
    margin-left: 3%;
    margin-top: 0.3rem;
    font-weight: 600;
    color: #777;
}

.add-step-button {
    background-color: #495057;
    margin: 2%;
    outline: none;
    border: none;
    height: calc(1.5em + 0.75rem + 2px);
    font-weight: 700;
    margin-right: 1.5rem;
}

.add-step-button:hover {
    background: #333;
}

.ntsk-step-drag {
    background: #fff;
}

.ntsk-step-sortable-chosen {
    background: #ddd;
    border-radius: 15px;
}

#ntsk_add_taskstep_cllps_btn {
    padding-bottom: 3px;
}

#ntskstps_slides {
    padding-top: 10px;
}

@media (max-width: 1199px) {
    .new-obj-shell {
        border-bottom: none;
    }
}