.card-container {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    overflow-y: auto;
}

.table-fxd-add-tbn {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 60px;
    bottom: 8%;
    right: 5%;
    z-index: 1;
    transition: 0.5s;
    background-size: 200% auto;
    background-image: linear-gradient(to right, rgb(43, 65, 107) 0%, rgb(28, 110, 177) 51%, rgb(67, 75, 117) 100%);
    border: none;
    font-size: 20px;
    -webkit-box-shadow: 2px 2px 10px 5px rgba(255, 255, 255, 0.72);
    -moz-box-shadow: 2px 2px 10px 5px rgba(255, 255, 255, 0.72);
    box-shadow: 0px 0px 5px 6px #ddd;
}

.table-fxd-add-tbn:hover {
    background-position: right center;
}

.taskcard {
    min-height: 100px;
    margin-bottom: 30px;
    text-align: left;
    padding: 0px;
    position: relative;
    background: #fff 50%;
    background-size: cover;
    border-radius: .25rem;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, .08), 0 0.5rem 0.75rem rgba(0, 0, 0, .14);
    transition: all .2s ease;
}

.taskcard:hover {
    cursor: pointer;
    box-shadow: 0 0 1px rgba(39, 44, 49, .1), 0 3px 16px rgba(39, 44, 49, .07);
    transition: all .3s ease;
    transform: translate3D(0, -1px, 0);
}

.next-button {
    position: absolute;
    bottom: 15px;
    right: 15px;
    color: #fff;
    background-color: #3B4372;
    border: none;
}

.next-button:hover {
    background-color: #333;
}

.title-text {
    color: #262626;
    font-weight: 600;
    margin: 0;
    font-size: 1.1rem;
}

.co-card-item {
    margin-bottom: 0;
}

#tablemargin {
    padding-left: 30px;
}

#details p {
    margin-bottom: 0;
}

#details h2 {
    margin-bottom: 0.4em;
}

.name-grey {
    color: #777;
    margin-bottom: 12px;
    padding-bottom: 8px;
    border-bottom: 1px solid #ddd;
}

.details-title {
    padding: 10px 0 10px 0;
}

.taskfilter-label {
    color: #555;
    margin: 2px;
}

.taskfilter {
    padding: 2px;
    height: 100%;
    border: 1px solid #ddd !important;
}

.taskfilter-title {
    color: #0067A5;
    font-weight: 600;
    margin-bottom: 0.4rem;
    margin-top: 0.4rem;
    font-size: 1.1rem;
}

.taskfilter-title i {
    padding-right: 5px;
}

.filtered-table {
    padding: 0 0 0 0;
    overflow: hidden;
}

.filtered-table-fade {
    position: absolute;
}

.task-filters {
    /*border-bottom: 1px solid #ddd;*/
}

.btn-group-detailmenu {
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

.btn-detail-menu {
    background-color: #fff;
    border: none;
    color: #999;
    font-size: 1.2rem;
    margin: 0 8px;
    padding: 0 5px;
    outline: none;
}

.btn-detail-menu:focus, .btn-detail-menu:active:focus, .btn-detail-menu.active:focus, .btn-detail-menu.focus, .btn-detail-menu:active.focus, .btn-detail-menu.active.focus {
    box-shadow: none;
}

.btn-detail-menu-active {
    color: #333;
}

.btn-detail-menu:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #01043F;
    transition: 1.5s;
}

.btn-detail-menu:hover:before {
    width: 100%;
}

.btn-detail-menu-active:before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #01043F;
    transition: 0s;
}

#timeline-container {
    height: 70%;
    overflow-y: scroll;
}

#task_data_container {
    overflow-y: auto;
    height: 100%;
}

#task_timeline_container {
    overflow-y: auto;
    height: 100%;
}

.task-timeline {
    width: 100%;
    height: auto;
    padding: 15px 15px 15px 2%;
    box-sizing: border-box;
}

.task-timeline li {
    position: relative;
    list-style: none;
}

.task-timeline li .task-timeline-item {
    position: relative;
    min-height: 60px;
    /*background: #ccc;*/
    padding: 10px 20px 20px 30px;
    margin-left: 20px;
    border-left: 1px solid #0067A5;
}

.task-timeline li:last-child .task-timeline-item {
    border-left: 1px solid transparent;
}

.task-timeline li .task-timeline-item span {
    position: absolute;
    top: 0;
    left: -20px;
    width: 40px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    border: 1px solid #0067A5;
    background-color: #fff;
    color: #0067A5;
    font-weight: 700;
    border-radius: 50%;
}

.actual-step {
    color: #fff !important;
    background-color: #0067A5 !important;
}

.task-timeline li .task-timeline-item a, .task-timeline li .task-timeline-item p {
    margin: 0;
    padding: 0;
}

.task-timeline li .task-timeline-item a {
    text-decoration: none;
}

.task-timeline li .task-timeline-item a h3 {
    font-size: 1.2rem;
    color: #555;
}

#tasks_m_details {
    border-left: 1px solid #ddd;
}

.co-shell {
    padding-top: 6px;
}

.gallery-image-container {
    width: 100px;
    height: 100px;
    float: left;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    margin: 0px 20px 20px 0px;
}

.gallery-image-content {
    width: 48%;
    padding-top: 48%;
    position: relative;
    margin: 1%;
    background-size: cover !important;
    background-position: center center !important;
    float: left;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.gallery-image-content.sm {
    width: 24%;
    padding-top: 24%;
}

.gallery-image-content p {
    width: 100%;
    text-align: center;
    bottom: 5px;
    color: #fff;
    background: #000000dd;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.gallery-image-footer {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 3%;
    width: 100%;
}

.gallery-image-footer p {
    margin-bottom: 0.5rem;
}

@media (min-width: 992px) {
    .selected-taskcard {
        border: 2px solid #25568c !important;
        box-shadow: none !important;
        transform: none !important;
        transition: none !important;
    }
}