/* icons.css */

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon/icomoon.eot?ctqype');
    src:  url('../fonts/icomoon/icomoon.eot?ctqype#iefix') format('embedded-opentype'),
      url('../fonts/icomoon/icomoon.ttf?ctqype') format('truetype'),
      url('../fonts/icomoon/icomoon.woff?ctqype') format('woff'),
      url('../fonts/icomoon.svg?ctqype#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-own-product-documents:before {
    content: "\e900";
  }
  .icon-own-work:before {
    content: "\e901";
  }
  .icon-own-services:before {
    content: "\e902";
  }
  .icon-own-general-ledger:before {
    content: "\e903";
  }
  .icon-own-flow-chart:before {
    content: "\e904";
  }