.periodic-page{
    margin: 1.5%;
}
.periodic-menu-btn{
    width: 100px;
}
#periodic_tasks_list{
    padding: 2%;
    height: 100%;
    overflow-y: scroll;
}
#menu_button_left{
    border-radius: 0.3rem 0 0 0.3rem;
}
#menu_button_right{
    border-radius: 0 0.3rem 0.3rem 0;
}