/** projects.css */

/* General */

.processes-modul-frame {
    padding: 1%;
}

.projects_header {
    width: 25%;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}

.processes_content {
    width: 75%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    border: 1px solid #ddd;
}

#processes_t_scroll_table {
    overflow: auto;
    display: block;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

#processes_t_scroll_table::-webkit-scrollbar {
    width: 0 !important
}

#processes_column_title {
    height: 100%;
    background: #222;
}

.processes-table {
    line-height: 1;
    text-align: center;
}

.processes-table-table {
    font-size: 0.8rem;
    margin: 0 auto;
    border-collapse: collapse;
    border-style: hidden;
}

#processes_table_data {
    height: 8%;
}

table, td {
    border-collapse: collapse;
}

.tasksTableTr {
    cursor: pointer;
}

.process-start-td {
    padding: 8px 0;
    border-right: 1px solid #43e05b;
}

.process-start-line {
    border-radius: 20px 0 0 20px;
}

.process-line-td {
    padding: 8px 0;
    border-left: 1px solid #43e05b;
    border-right: 1px solid #43e05b;
}

.processes-data-line-green {
    background-color: #229933;
}

.processes-data-line-lgreen {
    background-color: #c2e2c4;
}

.processes-data-line-lred {
    background-color: #c47f7e;
}

.processes-data-line-blue {
    background-color: #332baa;
}

.process-end-td {
    padding: 8px 0;
}

.process-end-line {
    border-radius: 0 20px 20px 0;
}

.process-one-line {
    border-radius: 20px 20px 20px 20px;
}

.projects_header_title {
    min-height: 77px;
    max-height: 77px;
    border-bottom: 1px solid #ddd;
}

.process_names_box {
    height: 100%;
    overflow: auto;
    direction: rtl;
    padding-bottom: 7px;
    margin-top: 1px;
}

.process-names-box-item {
    height: 25px;
    font-size: 14px;
    cursor: pointer;
    color: #222;
    padding-left: 8px;
    padding-right: 5px;
    border-bottom: 1px solid #ddd;
    direction: ltr;
}

#tasks_table_td_today {
    background: #3B4372;
    color: #fff;
}

.p-n-box-item-icon {
    font-size: 11px;
    padding-right: 3px;
}

@media only screen and (max-width: 2000px) {
    .process-names-box-item {
        height: 21px;
        margin: 4px 0;
        border: 0;
        background: rgba(0, 0, 0, 0.5);
        color: #eee;
        border-radius: 0 30px 30px 0;
    }
    .projects_header_title {
        visibility: hidden;
        width: 0;
    }
    .projects_header {
        position: absolute;
        width: 18vw;
        border: 0;
    }
    .processes_content {
        width: 100%;
    }
}